<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" ui-sref-active="active"><a href ui-sref=".tab1">angular封装性和插件熟悉</a></li>
            <li role="presentation" ui-sref-active="active"><a href ui-sref=".tab2">angular简单实例和项目应用</a></li>
            <li role="presentation" ui-sref-active="active"><a href ui-sref=".tab3">angular整合项目展示</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div ui-view></div>
    </div>
</div>